## Prisma variable
POSTGRES_USER=username
POSTGRES_PASSWORD=yourdbpassword
POSTGRES_DB=databasename
DATABASE_URL="postgresql://username:yourdbpassword@localhost:5432/databasename?schema=public"
DATABASE_HOST=http://localhost
DATABASE_PORT=5432

# Bỏ JWT_SECRET và JWT_EXP cũ, thay bằng các biến sau
JWT_ACCESS_SECRET="22021110"
JWT_ACCESS_EXP="15m" 

JWT_REFRESH_SECRET="22021110"
JWT_REFRESH_EXP="7d"
AI_SERVICE_URL="http://localhost:5001/generate"